<?php
// Copier ce fichier en env.php et remplir les valeurs réelles
$host = 'VOTRE_HOST_POSTGRESQL';
$db   = 'VOTRE_NOM_BDD';
$user = 'VOTRE_UTILISATEUR';
$pass = 'VOTRE_MOT_DE_PASSE';
$dsn  = "pgsql:host=$host;dbname=$db";
